<footer class="fixed bottom-4 right-4 md:bottom-6 md:right-6 z-40 pointer-events-none select-none">
  <div class="pointer-events-auto opacity-50 hover:opacity-100 transition-opacity duration-700">
    <a
      href="https://github.com/kampai35"
      target="_blank"
      class="no-underline flex items-center gap-2 md:gap-3"
      style="color: var(--overlay)"
    >
      <span class="w-4 md:w-10 h-[1px]" style="background-color: var(--surface)"></span>

      <span
        class="text-[8px] md:text-[10px] 2xl:text-xs uppercase tracking-[0.3em] md:tracking-[0.4em] font-bold"
      >
        © 2026 - current by Kampai
      </span>
    </a>
  </div>
</footer>
